.App {
  text-align: center;
}

#spacer {
  display: inline-block;
  width: 20px;
}

#submit {
  display:block;
  margin: 0 auto;
}

#img-upload {
  display: none;
}

.App-header {
  background-color: #222;
  height: 250px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
